<!DOCTYPE html>
<!--data-bs-theme here sets dark mode for the entire website -->
<html lang="en" data-bs-theme="dark">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="HelloBlazor.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
  <!--Switch for dark/light mode -->
    <div class="form-check form-switch mx-4">
      <input
        class="form-check-input p-2"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckChecked"
        checked
        onclick="DmLmSwitcher()"
      />
    </div>

    <Routes />
    <script src="_framework/blazor.web.js"></script>
</body>
<!-- script DmLmSwitcher below sets function to switch between light and dark mode -->
<script>
    function DmLmSwitcher() {
        var element = document.body;
        element.dataset.bsTheme =
            element.dataset.bsTheme == "light" ? "dark" : "light";
    }
</script>

</html>
